<div class="container">
  <div class="mt-5">
    <table class="table table-bordered table-sm mt-5" id="chitty">

      <thead>
        <tr>
          
          <th scope="col">Chitty Number</th>
          <th scope="col">Monthly Installment</th>
          <th scope="col">Number Of Months</th>

          <th scope="col">Sala</th>
          <th scope="col">Date Of Chitty</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each details}}

        <tr>

         
         
            <td><a  class="btn text-dark" href="/admin/viewClients?id={{this.ChittyNumber}}">{{this.ChittyNumber}}</a></td>
         
          <td>Rs {{this.MonthlyInstallment}}</td>
          <td>{{this.NumberOfMonths}}</td>

          <td>Rs {{this.Sala}}</td>
          <td>{{this.DateOfChitty}} Of Every Month</td>
          <th><a href="/admin/EditChit?id={{this._id}}" class="btn btn-warning">Edit Details<a
                href="/admin/DeleteChitty?id={{this._id}}" class="btn btn-danger ml-1"
                onclick="return confirm('Do you want to delete this Chitty ?')">Remove Chitty</a></a>
          </th>

        </tr>

        {{/each}}

      </tbody>
    </table>
  </div>
</div>

<script>
  $(function () {
    $('#chitty').DataTable();
  });
</script>