<div class="container">
  <div class="col-xm-12 float-right">
  <a href="/admin/addClient?id={{chittyNo}}" class="btn btn-success mt-3">Add Client</a>
  </div>
</div>
<div>
  <a href="/admin/addInstallment?id={{chittyNo}}" class="btn btn-info mt-3 ml-4">Add Installment</a>
  <a href="/admin/editInstall?id={{chittyNo}}" class="btn btn-light mt-3">Edit Installment</a>
</div>
<div>
  <div class="col-xm-12">
  <table class="table mt-3 table-dark w-25 float-left">
  <td class="text-center ">Chitty Number  : {{chittyNo}}</td>
  </table>
  </div>
</div>


<div class="container">
  <div class="mt-5">
    <table class="table table-bordered table-sm mt-5" id="clients">

      <thead>
        <tr>

          <th scope="col">Chittaal Number</th>
          <th scope="col">Name</th>
          <th scope="col">Priced/Non-Priced</th>
          <th scope="col">Options</th>


        </tr>
      </thead>
      <tbody>
        {{#each details}}

        <tr>



          <td><a class="btn text-dark" href="/admin/viewClientDetails?id={{this._id}}">{{this.chittaalNumber}}</a>
          </td>

          <td>{{this.name}}</td>
          <td>{{this.pricedStatus}}</td>


          <td><a href="/admin/EditClient?id={{this._id}}" class="btn btn-warning">Edit Client<a
                href="/admin/DeleteClient?id={{this._id}}" class="btn btn-danger ml-1"
                onclick="return confirm('Do you want to remove {{this.name}} with Chittaal Number {{this.chittaalNumber}} ?')">Remove
                Client</a></a>
          </td>

        </tr>

        {{/each}}

      </tbody>
    </table>
  </div>
</div>

<script>
  $(function () {
    $('#clients').DataTable({
      "order": [[0, "asc"]]
    });
  });
</script>